.bg-pink {
  background: pink;
}

.bg-salmon {
  background: #f07f80;
}
/* Centramento testo */
.text-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.col-1, .col-8, .col-12, .col-2, .col-6{
  position: relative;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.mt {
  margin: 10px;
  height: 230px;
}

.border {
  border: 1px solid #ffff;
  height: 230px;
}
